body,
html {
  width: 100%;
  height: 100%;
  color: white;
  overflow: auto;
  font-family: 'Bree Serif', serif;
}

#logo {
  background-color: #436588;
  font-family: 'Bree Serif', serif;
  color: white;
}

#home-bg {

  background-image: url("https://images.unsplash.com/photo-1511312066185-a25084d4dee2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3f92177346bbbb23d83467e77b880c8&auto=format&fit=crop&w=2250&q=80");
  background-size: cover;
  background-position: center; 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: 1;
}

#about-bg {
  background-image: url("https://images.unsplash.com/photo-1481991990414-7802ae5de1e0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3a315d97d7621ccf8d706ed3b1284982&auto=format&fit=crop&w=2286&q=80");
  background-size: cover;
  background-position: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: 1; 
}

.dropdown-toggle,
.dropdown-menu {
  font-family: 20 Arial,sans-serif;
  color: red;
}

#nav-items {

  background-color: #436588;
}

#imaginary_container{
  margin-top:500px;
  background-color: white; 
  border-radius: 20px;
  border: 1px solid transparent;
}

#search {
  background-color: #C3BBC6; 
  border-radius: 20px;
  border: 1px solid transparent;
}

#ui-id-1 > * {
  font-size: 20px;
  color: #581d77;
}

#ui-id-1 {
  list-style-type: none; 
  left: 0;
  padding-left: 0;
  padding: 10px;
  border: 1px solid;
  box-shadow: 1px 1px 1px 1px #F3DB9F;
  color: black;
  background-color: white;
  font-family: 'Bree Serif', serif;
  width: 36%;
}

.stylish-input-group .input-group-addon{
  background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  border-color:#ccc;
}

.stylish-input-group button {
  border:0;
  background:transparent;
}

#autocomplete {
  font-size: 20px;
  color: #581d77;
  font-family: 'Bree Serif', serif;
  border-radius: 20px;
  border: 1px solid transparent;
}
#links,
#menu {
  font-size: 20px;
  color: white;
  font-family: 'Bree Serif', serif;
}
.header {
  font-family: 'Bree Serif', serif;
  font-size: 40px;
 text-align: center;
 padding-bottom: 50px;
 padding-top: 50px;
}

.photos {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #846271;
  padding: 100px;
  margin-top: 300px;
}

#countryinfo {
  padding: 128px 0px;
  width: 100%;
  background-color: /*#D8BFD8*/ /*#D2691E*//*#FFE4E1*//*#e8f3f4*//*#afeeee*//*#DEB887*//*#BC8F8F*/#FEC297;
  opacity : 0.9;
}


#contactInfo {
  margin-top: 150px;
  padding: 128px 0px;
  width: 100%;
  background-color: /*#D8BFD8*//*#D2691E*//*#FFE4E1*//*#e8f3f4*//*#afeeee*//*#DEB887*//*#BC8F8F*/#FEC297; 
  opacity : 0.9;
}

.about-us-container {
  margin-top: 100px;
  margin-bottom: 150px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #D8BFD8 /*#D2691E*//*#FFE4E1*//*#e8f3f4*//*#afeeee*//*#DEB887*//*#BC8F8F*//*#FEC297*/;
  opacity : 0.9;

}

img:hover {
  opacity:0.6;
}

.tooltip {
  display:none;
  position:absolute;
  border:1px solid #333;
  background-color:#161616;
  border-radius:5px;
  padding:10px;
  color:#fff;
  font-size:12px Arial;
}

.header {
 text-align: center;
 padding-bottom: 50px;
 padding-top: 50px;
}

.mainpage {
  margin-bottom: 128px;
}

.controls {
  color: black;
}

.btn-success {
  background-color: #145a60;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*On Tabs & Desktops */
@media screen and (min-width: 768px) {
  .navbar-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

  }
}



/* News */
.news-slider {
  /* Style the actual content */
}
.news-slider .text-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1em;
  width: 30%;
  height: 100%;
}
.news-slider .text-content h2 {
  margin: 0;
}
.news-slider .text-content p {
  margin: 1em 0;
}
.news-slider .text-content a.button-link {
  padding: 0.25em 0.5em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.news-slider .image-content {
  line-height: 0;
}
.news-slider .image-content img {
  max-width: 100%;
}
.news-slider .news-pager {
  text-align: right;
  display: block;
  margin: 0.2em 0 0;
  padding: 0;
  list-style: none;
}
.news-slider .news-pager li {
  display: inline-block;
  padding: 0.6em;
  margin: 0 0 0 1em;
}
.news-slider .news-pager li.sy-active a {
  color: #31ace2;
}
.news-slider .news-pager li a {
  font-weight: 500;
  text-decoration: none;
  display: block;
  color: #222;
}

 /* News End */
