body,
html {
  width: 100%;
  height: 100%;
  /*font-family: 'Coustard', serif;*/
  color: white;
  overflow: auto;
}

ui-menu{

background-color: silver;
}

#logo {
  color: white;
  font-size: 25px;  
}

#home-bg {

  background-image: url("https://images.unsplash.com/photo-1518398046578-8cca57782e17?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=959228001844e0370bcb348f9d1e000a&auto=format&fit=crop&w=2250&q=80");
  background-size: cover;
  background-position: center; 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: 1;
}

#about-bg {
  background-image: url("https://images.unsplash.com/photo-1507745512299-8bd0e0b3380f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9575a8abd6bfb0ed53d7ad7601bff2dc&auto=format&fit=crop&w=1952&q=80");
  background-size: cover;
  background-position: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: 1; 

}

.dropdown-toggle,
.dropdown-menu {
  font-family: 20 Arial,sans-serif;
  color: red;
  
}

#nav-items {

  background-color: #436588;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 25px;
}

#imaginary_container{
  margin-top:500px; 
}

#ui-id-1 {
  list-style-type: none; 
}
.stylish-input-group .input-group-addon{
  background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}

#blank_section {
  
  height:200px;
  width: 100%;
}
/*On Tabs & Desktops */
@media screen and (min-width: 768px) {
  .navbar-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

  }
}



#countryinfo{

  padding: 128px 0px;
  width: 100%;
  background-color: #436588; 

}


.mainpage {

  margin-bottom: 128px;

}


.navbar{

  margin-right: 10px;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}




