body,
html {
  width: 100%;
  height: 100%;
  /*font-family: 'Coustard', serif;*/
  color: white;
  overflow: hidden;
}

#logo {
  background-color: #436588;
  font-family: 'Bree Serif', serif;
  color: white;
}

#home-bg {

  background-image: url("https://images.unsplash.com/photo-1511312066185-a25084d4dee2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3f92177346bbbb23d83467e77b880c8&auto=format&fit=crop&w=2250&q=80");
  background-size: cover;
  background-position: center; 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: 1;
}

#about-bg {
  background-image: url("https://images.unsplash.com/photo-1481991990414-7802ae5de1e0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3a315d97d7621ccf8d706ed3b1284982&auto=format&fit=crop&w=2286&q=80");
  background-size: cover;
  background-position: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: 1; 
}

.dropdown-toggle,
.dropdown-menu {
  font-family: 20 Arial,sans-serif;
  color: red;
}

#nav-items {

  background-color: #436588;
}

#imaginary_container{
  margin-top:500px;
  background-color: white; 
  border-radius: 20px;
  border: 1px solid transparent;
}

#search {
  background-color: #C3BBC6; 
  border-radius: 20px;
  border: 1px solid transparent;
}

#ui-id-1 > * {
  font-size: 20px;
  color: pink;
}

#ui-id-1 {
  list-style-type: none; 
  left: 0;
  padding-left: 0;
    border: 5px solid red;
}

.stylish-input-group .input-group-addon{
  background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button {
  border:0;
  background:transparent;
}

#autocomplete {
  font-size: 20px;
  color: #581d77;
  font-family: 'Bree Serif', serif;
  border-radius: 20px;
  border: 1px solid transparent;
}
#links,
#menu {
  font-size: 20px;
  color: white;
  font-family: 'Bree Serif', serif;
}
#photo-group {
  display: flex;
  justify-content: center;
}

.photos {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #846271;
  /*  opacity: 0.5;*/
  padding: 100px;
  margin: 100px;
  margin-top: 300px;
}
/*On Tabs & Desktops */
@media screen and (min-width: 768px) {
  .navbar-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

  }
}









